POSTGRES_DB=leads
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-local-password
PIPELINE_PATH=../../../Ingesta de datos/leads-pipeline
PIPELINE_DATABASE_URL=postgresql+psycopg://postgres:change-this-local-password@postgres:5432/leads
API_CONNECTION_STRING=Host=postgres;Port=5432;Database=leads;Username=postgres;Password=change-this-local-password;SearchPath=leads;